@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;800&display=swap");

:root {
  --main-bg: #e0e3e8;
  --main-cl: #ffffff;
  --txt-cl: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  background: var(--main-bg);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}

.card {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.24);
}

.container {
  padding: 20px 15%;
  text-align: justify;
  width: 710px;
  background: var(--main-cl);
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0 0 20px;
}

a {
  color: #000;
}

.contact {
  padding: 5px 20px;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 50px;
  margin: 20px 0 10px 0;
}

.socmed {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

button.logos {
  border: none;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background: #000;
  padding: 2px 0 0 0;
}

.facebook {
  border: none;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

button a i {
  color: #fff;
  font-size: 25px;
}

button a i.fb {
  color: #000;
  font-size: 40px;
}

.card-content-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img {
  width: 100%;
  height: 250px;
  margin: 0 0 10px 0;
}

.img img {
  width: 100%;
  height: 100%;
}

.content-profile {
  width: 50%;
  text-align: center;
}

.content-profile .profile {
  padding: 10px;
}
